html,body
{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}

.page-image {
    position: relative;
    padding: 0;
    margin: 0;
    height: 500px;
    background-color: #fff;
    overflow: hidden;
}

.cover-image {
    height: 100%;
    width: 100%;
	background: url("../img/post-1.jpg") center center / cover no-repeat;
}


.wrapper {
    width: 960px;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
	z-index: 4;
}

.box-card
{
	margin-top: -160px;
    margin-bottom: 100px;
    background-color: #fff;
    padding: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	min-height: 900px;
}


.header-page {
    position: relative;
    margin-bottom: 30px;
	align:center;
}

.header-page h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    margin: 0 0 20px;
    color: #311e3e;
}

.header-page .page-date {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
}

.header-page a
{
	text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
}
