<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="expires" content="0">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="js/jquery.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<link rel="stylesheet" href="css/favorite.css" type="text/css" />
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script src="js/plugin.home.js"></script>
<link rel="stylesheet"  type="text/css"  href="css/style.css"  />
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<div id="app">


<!--
<div class="page-image">
	  <div class="cover-image"></div>
</div>
-->

<div class="mobile-bg-fix-whole-site">


		<div class="overlay-layer-nav sticky-navigation-open" style="min-height: 70px;">



<ul id="parallax_move">
<li class="layer layer1" data-depth="0.10" style="background-image: url(https://www.leachchen.com/storeother/img/background1.png);"></li>
<li class="layer layer2" data-depth="0.20" style="background-image: url(https://www.leachchen.com/storeother/img/background2.png);"></li>
</ul>
		<div class="overlay-layer-wrap">
				<div class="container overlay-layer" id="parallax_header" style="padding-top: 154px;">

			<div class="row" style="min-height:250px;">

			</div>
		</div>
			</div>
				</div>
		<!-- /END COLOR OVER IMAGE -->
			</header>
	<!-- /END HOME / HEADER  -->




</div>


<div class="wrapper">
     <el-card class="box-card">
		<div class="header-page">
           <h1>{{title}}</h1>
		   <div style="text-align:center;">
			   <a :href="byauthorurl" target="_blank" style="margin-left:10px;font-size:10px;" v-if="byauthor!=''">By {{byauthor}}</a>
			   <a :href="byauthorurl" target="_blank" style="margin-left:10px;font-size:10px;" v-else>By admin</a>
			   <a :href="authorurl" target="_blank" style="font-size:14px;" v-if="author!=''">/ From {{author}}</a>
			   <a :href="authorurl" target="_blank" style="font-size:14px;" v-else>/ From {{gitauthor}}</a>
		   </div>

		   <div>
			   <a v-on:click="onPreview(previewUrl)" target="_blank" style="font-size:18px;cursor: pointer;" v-if="!isPreviewImage">预览效果 / </a>
			   <a v-on:click="onDownload(downloadUrl)" target="_blank" style="font-size:18px;cursor: pointer;">源码下载 / </a>
			   <a :href="moreresource" target="_blank" style="font-size:18px;cursor: pointer;">更多资源</a>
			   <iframe style="margin-left:10px;margin-top:10px;"
						  frameborder="0" scrolling="0"  height="20px"
						  :src="'https://ghbtns.com/github-btn.html?user='+gitauthor+'&repo='+gitrepo+'&type=star&count=true'" v-if="gitauthor!=''&&gitrepo!=''">
			   </iframe>
		   </div>
          <!--<div class="page-date"><time datetime="2019-01-25 08:37:00 +0000">{{time}}</time>-->
		  <!--<span id="busuanzi_container_page_pv" style="display: inline;"> | 访问量：<span id="busuanzi_value_page_pv"></span> 次</span>-->
		  </div>
		  <p class="center-description" style="font-size:16px;" v-html="description"></p>
		  <div class="center-page"  align="center">

				<img :src="previewUrl" style="margin-bottom:10px;" v-if="isPreviewImage"/>
			  <img :src="thumbUrl" style="margin-bottom:10px;" v-if="!isPreviewImage"/>

				 <div id="pcuse" align="center">
					  <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
					<ins class="adsbygoogle"
						 style="display:block"
						 data-ad-client="ca-pub-4924092018203651"
						 data-ad-slot="5617727102"
						 data-ad-format="auto"
						 data-full-width-responsive="true"></ins>
						 <!--<script>
						 		(adsbygoogle = window.adsbygoogle || []).push({});
						 </script>-->
					</div>


					<!--<div id="phoneuse" align="center">
						<ins class="adsbygoogle"
							 style="display:block; text-align:center;"
							 data-ad-layout="in-article"
							 data-ad-format="fluid"
							 data-ad-client="ca-pub-4924092018203651"
							 data-ad-slot="5093260726"></ins>
							 <script>
								 (adsbygoogle = window.adsbygoogle || []).push({});
							 </script>
				</div> -->
			  <img :src="thumbUrl" style="margin-bottom:10px;" v-if="isPreviewImage"/>

		  </div>
	</el-card>
</div>

</div>


</div>
<script src="js/hand.js"></script>
</body>
</html>
